@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

.App {
  text-align: center;
  background-color: #e2e2e2;
  width: 100%;
  background-image: url("./res/bgroundMain.jpg");
  background-attachment: fixed;
  background-size: cover;
  filter: grayscale(70%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  ;
}